body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.main-section {
    text-align: center;
}

#all-animal{
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-top: 20px;
}

img {
    height: 200px;
    width: 200px;
    transition: background-image 0.5s ease-in-out;
}

img:hover {
    cursor: pointer;
    transform: scale(1.1) translateY(-5px);
}