<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Animal Yell</title>
    <link rel="stylesheet" type="text/css" href="styles.css">
</head>
<body>
    <div class="main-section">
        <h1>Click me to hear me yell</h1>
        <div id="all-animal">
            <img id="pig" src="pig.png" alt="A pig">
            <img id="cat" src="cat.png" alt="A cat">
            <img id="cow" src="cow.png" alt="A cow">
        </div>
    </div>

<script src="script.js"></script>
</body>
</html>